body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  overflow: hidden;
  height: 100vh;
}
header {
  flex: 1;
  background-color: ivory;
  height: 350px;
}
main {
  flex: 5;
  background-color: gray;
}
footer {
  flex: 1;
  background-color: ivory;
  height: 350px;
}

#test-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#test-paragraph {
  display: none;
  background-color: white;
  padding: 10px;
  margin-bottom: 5px;
  border: 4px double black;
  border-radius: 10px;
  width: 500px;
  font-size: 22px;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

#user-input {
  padding: 14px;
  width: 500px;
  margin-bottom: 15px;
  font-size: 22px;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

#game-controls {
  margin-bottom: 10px;
}

#start-btn,
#reset-btn {
  padding: 10px;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-timer {
  animation: pulsate 5s;
}

#timer {
  color: white;
  background-color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 50%;
  text-shadow: 0 0 0 gray;
  border: 5px double white;
  margin-bottom: 10px;
}

#user-input.correct-input {
  color: green;
}

#user-input.error-input {
  color: red;
}

#results {
  width: 300px;
  height: 200px;
  display: none; /* Keeping the original display: none; */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2px;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.high-score,
.words-per-minute {
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 5px;
  height: 50px;
  line-height: 50px;
}

.words-per-minute {
  background-color: black;
  color: white;
  border: 5px inset red;
}

.first {
  background-color: gold;
}

.second {
  background-color: silver;
}

.third {
  background-color: #cd7f32;
}
